    <div id="follow_form" class="btn">
        <% if current_user.following? @user %>
            <%= link_to "Unfollow", {controller: :users,action: :unfollow,user_id: @user.id}, method: :put, class: "btn u-btn4" %>
        <% else %>
            <%= link_to "Follow", {controller: :users,action: :follow,user_id: @user.id}, method: :put, class: "btn u-btn3" %>
        <% end %>
    </div>