やほー
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <!-- インジケータの設定 -->
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <!-- スライドさせる画像の設定 -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        ...
      </div><!-- /.carousel-item -->
      <div class="carousel-item">
        ...
      </div><!-- /.carousel-item -->
      <div class="carousel-item">
        ...
      </div><!-- /.carousel-item -->
    </div><!-- /.carousel-inner -->
    <!-- スライドコントロールの設定 -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      ...
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      ...
    </a>
  </div><!-- /.carousel -->