<div class="container">
  <div class="row">
    <div>
      <% @all_ranks each do |rank| %>
        <%= rank.article_image %>
        <%= rank.title %>
      <% end %>
      <div>
      </div>
    </div>
  </div>
</div>