やほー
<div class="carousel slide" data-ride="carousel" style="width:400px">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="slide1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img src="slide2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img src="slide3.jpg" alt="Third slide">
    </div>
  </div>
</div>