<div class="container">
    <div class="row d-block">
        <p class="t-theme ml-5 mt-5">WELCOME TO TOEICer!!</p>
            <div class="about p-5 a-text">
                <strong><p>TOEICerはTOEICの勉強法やモチベーション維持に悩む方々に情報を共有するサイトです。現在では、<strong class="high-light">240万人</strong>を超え、多くの方が日々TOEIC公開テストに向けて勉強しています。
                    私、管理人も英語を喋りたいという理由からTOEICを1日10時間以上勉強してた時期もありましたが、やはり、勉強法に悩んだり、モチベーション維持に苦しみました。しかし、勉強法を調べてもいつ書いた記事か分からなかったり、どのレベルに向けてなのかが分からない記事が多くあって多くの時間を割いてしまいました。
                    そういう方々を一人でも減らしてハイスコアを獲得して欲しいという願いからこのサイトを作成しました。<br>ログインしなくても、もちろん記事の閲覧は可能です！しかし、ログインするとさまざまな機能を利用することができます。</p></strong>
                <div class="mt-5">
                    <div class="mb-5">
                        <strong class="high-light">1.記事が書ける！</strong>
                        <br><p>┗あなたのTOEIC勉強法やモチベーションの維持方法、おすすめの参考書などを気になっているユーザーはたくさんいます。ぜひ、ログインして記事を書いてください！あなたの勉強法が誰かのスコアを大幅に伸ばすかもしれません。</p>
                    </div>
                    <strong class="high-light"><p>2.マイページを作成できる！</strong>
                        <br>┗マイページにはTOEICの合計スコア、リーディング、リスニングセクションが表示され、<br>　　ハイスコア保持者は特別なアイコンがつきます！初心者はぜひ、800点メダルを目指して頑張りましょう!!!</p>

                        <div class="mt-5 text-center" style="margin-left: 55px;">
                            <%= image_tag 'first.png', size: '40x40' %>
                            <div class="mt-3"><strong class="t-score">400点</strong>以下のスコア保持者</div>
                        </div>
                        <div class="mt-5 text-center" style="margin-left: 55px;">
                            <%= image_tag 'second.png', size: '40x40' %>
                        <div class="mt-3"><strong class="t-score">600点</strong>以下のスコア保持者</div>
                        </div>
                        <div class="mt-5 text-center" style="margin-left: 55px;">
                                <%= image_tag 'top.png', size: '40x40' %>
                        <div class="mt-3"><strong class="t-score high-light">800点</strong>以下のスコア保持者</div>
                        </div>
                    <div class="mt-5">
                    <strong class="high-light">3.記事にいいね投稿できる！</strong>
                        <br><p>┗「記事が面白い！」「この記事また見たい！」という場合には記事の右上に<%= image_tag 'good.png', size: '30x30' %>（いいね！ボタン）があるので押して見ましょう。
                        マイページであなたがいいねした記事はマイページの『いいね！した記事』というボタンから確認できます！</p>
                    </div>
                    <div class="mt-5">
                    <strong class="high-light">4.フォロー機能</strong>
                        <br><p>┗フォロー機能を使えばフォローしたユーザーの記事をすぐに確認できます。</p>
                    </div>
                    <div class="mt-5">
                        <p>以上があなたがログインすると使える機能の一覧です。ぜひ、ログインして最大限TOEICerを活かして高得点を目指してください！</p>
                    </div>
                </div>
            </div>
    </div>
</div>