<div class="container">
    <div class="row d-block">
        <p class="t-theme ml-5 mt-5">WELCOME TO TOEICer!!</p>
            <div class="about p-5">
                <p class="a-text">TOEICerはTOEICの勉強法やモチベーション維持に悩む方々に情報を共有するサイトです。ログインしなくても、もちろん記事の閲覧は可能です！しかし、ログインするとさまざまな機能を利用することができます。</p>
                <div class="mt-5">
                    <strong><p>1.マイページを作成できる！<br>　┗マイページにはTOEICの合計スコア、リーディング、リスニングセクションが表示され、ハイスコア保持者は特別なアイコンがつきます！
                        <div>
                            <%= image_tag 'first.png', size: '40x40' %>
                        </div>
                            <br>2.記事にいいね！できる<br></p></strong>
                </div>
            </div>
    </div>
</div>