<div class="container">
    <div class="row d-block">
        <p class="t-theme ml-5 mt-5">WELCOME TO TOEICer!!</p>
            <div class="about p-5 a-text">
                <strong><p>TOEICerはTOEICの勉強法やモチベーション維持に悩む方々に情報を共有するサイトです。ログインしなくても、もちろん記事の閲覧は可能です！しかし、ログインするとさまざまな機能を利用することができます。</p></strong>
                <div class="mt-5">
                    <strong><p>1.マイページを作成できる！</strong><br>　┗マイページにはTOEICの合計スコア、リーディング、リスニングセクションが表示され、<br>　　ハイスコア保持者は特別なアイコンがつきます！
                        <div class="mt-5 text-center" style="margin-left: 55px;">
                            <%= image_tag 'first.png', size: '40x40' %>
                            <div class="mt-3">400点以下のスコア保持者</div>
                        </div>
                        <div class="mt-5 text-center" style="margin-left: 55px;">
                            <%= image_tag 'second.png', size: '40x40' %>
                        <div class="mt-3">400点以下のスコア保持者</div>
                        </div>
                        <div class="mt-5 text-center" style="margin-left: 55px;">
                                <%= image_tag 'top.png', size: '40x40' %>
                        <div class="mt-3">400点以下のスコア保持者</div>
                        </div>

                            <br>2.記事にいいね！できる<br></p>
                </div>
            </div>
    </div>
</div>