<div class="container">
    <div class="row mb-4">
        <div class="s-article col-auto mb-5 d-inline-block clip-box-a">
            <div class="s-title mb-5"><%= @article.title %></div>
            <%= raw @article.body %>
        </div>
    </div>
</div>
