<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>
<div class="container">
    <div class="row">
        <div class="s-title col-6 d-inline-block"></div>
    </div>
</div>
<%= @article.title %>
<%= @article.body.html_safe %>
