<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>
<div class="container">
    <div class="row mb-4">
        <div class="s-article col-auto d-inline-block">
            <h1><%= @article.title %></h1>
            <%= raw @article.body %>
        </div>
    </div>
</div>
