<h1>accounts#index</h1>

<%= flash[:success], class: "alert-success" %>

    <div class="container">
    <%= attachment_image_tag user, :user_image, fallback: "no_image.png",class: "rounded", style: "width: 150px; height: 150px;"%>

    </div>