<% if current_user.already_liked?(@article) %>
  <div>
    <%= button_to 'いいねを取り消す', article_like_path(@article), method: :delete %>
  </div>
<% else %>
  <div>
    <%= button_to 'いいね', article_likes_path(@article) %>
  </div>
<% end %>