<% if current_user.already_liked?(@article) %>
  <div class= "animated jello d-inline-block">
    <%= link_to image_tag("de_good.png", width: '20', height: '20', alt: "de_good_icon"), article_like_path(@article.id,@like.id), method: :delete, remote: true %>
  </div>
  <div class="animated flipInX ml-3 d-inline-block count">
      <%= @article.likes.count %>
  </div>
<% else %>
  <div class= "animated jello d-inline-block">
    <%= link_to image_tag("good.png", width: '20', height: '20', alt: "good_icon"), article_likes_path(@article), method: :post, remote: true %>
  </div>
  <div class="animated flipInX d-inline-block ml-3 count">
      <%= @article.likes.count %>
  </div>
<% end %>