/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


*{
   font-family: 'Oswald', "Noto Sans JP", sans-serif;
}
//session#new
.log{
  padding-left: 200px;
  padding-top: 40px;
  font-size: 35px;
}
// application.html.erb
.header{
   height: 100px;
}

 .wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 60px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
 }

 footer{
    width: 100%;
    background-color: #fff;
    color: #5c5b5b;
    text-align: center;
    padding: 0px 0;

 position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
 }

  .header-img{
    margin-bottom: 35px;
  }

 .search-btn {
   border-bottom: 0.1875em solid #1B5E20;
   background-color: rgb(40, 108, 172);
   color: #fff;
   display: inline-block;
   cursor: pointer;
   transition: all 0.3s ease 0s;
 }
 .search-btn:hover {
   border-bottom-color: transparent;
   transform: translateY(0.1875em);
 }

 .search {
  border-style: none;
  border-color: #FFF;
  box-shadow: 0 0 0 0 #fff;
  border-radius: 0%;
  border-bottom: 0.1875em solid rgb(92, 97, 93);

}

 h2 {
   padding: .5em;
   position: relative;
   }

 h2:after {
   content: "";
   width:100%;
   height:4px;
   position: absolute;
   left: 0;
   bottom: 0;
   background: linear-gradient(to right, #7ED1E6, rgba(255,255,255,0) 100%);
   }

 h3 {
   padding: .5em;
   border-left: 5px solid #7ED1E6;
   }
// article#_form.html.erb
 .post{
   margin-bottom: 60px;
   margin-top: 60px;
}

 .post-form{
   margin-bottom: 30px;
}

 .article-title{
   margin-left: 115px;
   margin-bottom: 40px;
}
//user#show
.user-text{
   font-size: 30px;
   font-weight: bold;
   margin-left: 5px;
}

 .user-score{
   font-size: 17px;
   margin-left: 10px;
   }

 .user-account{
   margin-left: 10px;
 }

 .user-info{
   line-height: 55px;
 }

 .user-detail{
    margin-left: 40px;
 }

 .user-hover {
   border-radius: 50%;
   transition: all 0.6s ease 0s;
 }
 .user-hover:hover {
   cursor: pointer;
   transform: scale(1.1, 1.1);
 }

 .icon-hover {
   transition: all 0.6s ease 0s;
 }
 .icon-hover:hover {
   cursor: pointer;
   transform: scale(1.3, 1.3);
 }

 .link{
   text-decoration: none !important;
   color: black;
 }

 .profile{
   font-weight: bold;
   line-height: 55px;
 }

 .score{
    font-size: 23px;
 }

 .t-score{
   font-size: 28px;
}

 .high-light{
   background:linear-gradient(transparent 75%, #fff799 75%);
   font-weight:bold;
   border-radius: 4px;
 }

 .user-row{
   animation-duration: 3s;
   animation-name: slidein;
   animation-iteration-count: 1;
 }

 .article{
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
 }

 .user_article_title{
   font-size: 20px;
   margin-left: 25px;
 }

 .word {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 200px;
  text-align: center;
  color:#FFF;
  background-color: #f39800;
  border-radius: 5px;
}
.word:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: #f39800 transparent;
  border-width: 0 10px 10px 10px;
  top: -10px;
  left: 6%;
  margin-left: -10px;
}
.u-btn {
  border-bottom: 0.1875em solid #1B5E20;
  background-color: #4CAF50;
  color: #fff;
  display: inline-block;
  padding: 0.6em 2em;
  margin: 0 0 1em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.u-btn:hover {
  border-bottom-color: transparent;
  transform: translateY(0.1875em);
}
.u-btn2 {
  border-bottom: 0.1875em solid rgb(17, 55, 126);
  background-color: rgb(65, 140, 190);
  color: #fff;
  display: inline-block;
  padding: 0.6em 2em;
  margin: 0 0 1em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.u-btn2:hover {
  border-bottom-color: transparent;
  transform: translateY(0.1875em);
}

// unsubsucribe#edit
 .unsub{
    margin-top: 200px;
 }
// article#show

.s-title {
   margin:  10px 0 0 0;
   font-size:  24px;
   position:  relative;
   font-weight:  normal;
   display:  inline-block;
   background-color: #f5f127;
   padding:  10px;
   border-radius:  1px;
   box-shadow: 0 5px 6px 0 #b3b0b3;
}

.clip-box-a {
   position: relative;
   margin: 2em auto;
   padding: 15px 35px 15px 25px;
   width: 90%;
   background-color: #fff;
   color: #555555;
   border: 1px solid #ccc;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.22);
  }

  .clip-box-a::before {
   position: absolute;
   content: '';
   top: -15px;
   right: 10px;
   height: 55px;
   width: 15px;
   border: 3px solid #555555;
   background-color: none;
   border-radius: 12px;
   box-shadow: 1px 1px 2px #999;
   transform: rotate(10deg);
   z-index: 1;
  }

  .clip-box-a::after {
   position: absolute;
   content: '';
   top: 0px;
   width: 10px;
   right: 20px;
   border: solid 5px #fff;
   z-index: 2;
  }

 .count{
    font-size: 30px;
 }
 //users#follow_list&follower_list
 .follow{
   margin-left: 320px;
 }
 .follow-list{
   padding: 0.25em 0.5em;
   color: #494949;
   background: transparent;
   border-left: solid 5px #7db4e6;
 }
 .f-name{
   font-size: 25px;
 }

 //user#index
 .t-theme{
    text-align: center;
    font-size: 35px;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 40px;
 }
 .t-theme:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
  }
  .top{
    margin: 0 80px 0 250px;
  }
  .t-title{
    font-size: 16px;
    font-weight: 900;
  }
  .top-img {
    position: relative;
    }

  .top-img a {
    font-size: 50px;
    color: #464545;
    position: absolute;
    top: 75%;
    left: 72%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    }

  .top-img img {
    width: 100%;
    }

  .underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
  }

  .underline::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: rgb(20, 134, 106);
    transition: all 0.3s ease 0s;
  }

  .underline:hover {
    cursor: pointer;
  }

  .underline:hover::after {
    width: 100%;
  }

  .hover {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);    color: #fff;
    display: inline-block;
    padding: 0.6em 2em;
    margin: 0 0 1em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .hover:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);
  }
//article#about
.about{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.about:before, .about:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.about:before {left: 10px;}
.about:after {right: 10px;}
.about p {
  margin: 0;
  padding: 0;
}
.a-text{
  font-size: 20px;
}